@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');

:root {
  --rich-black: #0c1821;
  --ghost-white: #f4f4f9;
  --oxford-blue: #1b2a41;
  --charcoal: #324a5f;
  --languid-lavender: #ccc9dc;
  --light-grey: #e3e1eb;
  --almond: #f1dac4;
  --forest-green: #6baa7f;
  --celadon: #93e5ab;
  --yellow-green: #a2d729;
  --red: #bf0603;
  --dark-red: #8d0801;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--oxford-blue);
  color: var(--ghost-white);
}
