article {
  margin: 1em;
  width: fit-content;

  background: var(--ghost-white);
  color: var(--rich-black);

  font-weight: 500;

  box-shadow: 0.5em 0.5em 1em var(--rich-black);
}

.image-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1em;
}
